root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.zig]
indent_style = space
indent_size = 4
max_line_length = 120

[*.{py,sh}]
indent_style = space
indent_size = 4
max_line_length = 120

[*.md]
# two trailing spaces is a markdown hard line break
trim_trailing_whitespace = false
max_line_length = 120
